#MainMap {
	top:50px;
	width: 100%;
	text-align: center;
}

#SurvivorMap {
	top:50px;
	width: 100%;
	text-align: center;
}

h3 {
	width: 100%;
	text-align: center;
	padding-top: 50px;
}

#lesser_graph {
	top:50px;
	width: 100%;
	text-align: center;
}

#bar_chart {
	float: left;
	width: 500px;
	margin-top: 150px;
	margin-left: 150px;
}

#line_chart {
	float: right;
	width: 500px;
	margin-top: 150px;
	margin-right: 250px;
}
