#MainMap {
	top:50px;
	width: 100%;
	text-align: center;
}

#SurvivorMap {
	top:50px;
	width: 100%;
	text-align: center;
}

h3 {
	width: 100%;
	text-align: center;
	padding-top: 20px;
}