#MainMap {
	top:50px;
	width: 100%;
	text-align: center;
}

#SurvivorMap {
	top:50px;
	width: 100%;
	text-align: center;
}

h3 {
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

#lesser_graph {
	top:50px;
	width: 100%;
	text-align: center;
}
#bar_chart {
	float: left;
	width: 500px;
	margin: 150px;
}
